.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.use-payment{
    -fx-background-color:#D4C4B4;
    -fx-background-radius: 100;
}
.a-box-group{
    box-sizing: border-box
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.transparent2{
    -fx-background-color: white;
}

.search-button{
    -fx-background-color: #ba8f7c;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #702109;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #ba8f7c;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}



.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.delete-btn{
    -fx-background-color: #D4C4B4;
    -fx-background-radius: 100;
}
.free-delivery-card{
    -fx-background-color: #d4c4b4;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
.progress-indicator{
    -fx-progress-color: rgb(0, 0, 0); /* Change the color of the spinner */
    -fx-background-color: #d4c4b4;; /* Set the background color */
}
.date-picker-popup {
    -fx-background-color: #ffffff; /* Background color of the popup */
}

/* Styles for the DatePicker arrows */
.date-picker > .arrow-button {
    -fx-background-color: #cccccc; /* Background color of the arrows */
}

/* Styles for the DatePicker text field */
.date-picker > .text-field {
    -fx-background-color: #ffffff; /* Background color of the text field */
    -fx-text-fill: #000000; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px; /* Padding */
}
/* Table header */
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #742b1f; /* Header background color */
}

.table-view .column-header .label {
    -fx-text-fill: white; /* Header text color */
    -fx-font-weight: bold; /* Header font weight */
}

/* Table cells */
.table-view .cell {
    -fx-background-color: #f0f0f0; /* Cell background color */
    -fx-text-fill: #333333; /* Cell text color */
}

/* Selected row */
.table-row-cell:selected {
    -fx-background-color: #8e1919f0; /* Selected row background color */
    -fx-text-background-color: white; /* Selected row text color */
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
